@{
    ViewBag.Title = "Home Page";
}

<h3><Center>WELCOME to our Software Support-Ntitas IT Limited</Center></h3>
<h3><Center>We are always here for your support, Send your Ticket we will solve your problem.</Center></h3>

<h4>Address:</h4>
<h4>House: 385, Road:6, Avenue:4, Floor:3</h4>
<h4>01990407011</h4>
<footer>
    <Center><p>&copy; @DateTime.Now.Year - Suppoert Ticket Management System </p></Center>
</footer>